<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>首页</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script type='text/javascript' src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="惠友雕塑，精致选择" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0);} , false); function hideURLbar(){ window.scrollTo(0,1);}  </script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/menu_jquery.js"></script>
<script src="js/simpleCart.min.js"> </script>
</head>
<body>
<!-- header_top -->
<div class="top_bg">
	<div class="container">
		<div class="header_top">
			<div class="top_right">
				<ul>
					<li><a href="contact.html">简介</a></li>|
					<li><a href="#">关于我们</a></li>
				</ul>
			</div>
			<div class="top_left">
				<h2><span></span> 电话 : 15801189809</h2>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- header -->
<div class="header_bg">
<div class="container">
	<div class="header">
	<div class="head-t">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" class="img-responsive" alt="" width="180"/> </a>
		</div>
		<!-- start header_right -->
		<div class="header_right">
			<div class="rgt-bottom">
				<div class="log">
					<div class="login" >
						<div id="loginContainer"><a href="#" id="loginButton"><span>登录</span></a>
						    <div id="loginBox">
						        <form id="loginForm" action="/userlogin">
						                <fieldset id="body">
						                	<fieldset>
						                          <label for="mobile">手机号</label>
						                          <input type="text" name="mobile" id="mobile" />
						                    </fieldset>
						                    <fieldset>
						                            <label for="password">密码</label>
						                            <input type="password" name="password" id="password" />
						                     </fieldset>
						                    <input type="submit" id="login" value="登录" />
						                	<label for="checkbox"><input type="checkbox" id="checkbox" /> <i>记住我</i></label>
						            	</fieldset>
						            <span><a href="#">忘记密码?</a></span>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="reg">
					<a href="register.html">注册</a>
				</div>
			<div class="cart box_1">
				<a href="checkout.html">
					<h3> <span class="simpleCart_total">$0.00</span> (<span id="simpleCart_quantity" class="simpleCart_quantity">0</span> 件)<img src="images/bag.png" alt="" /></h3>
				</a>
				<div class="clearfix"> </div>
			</div>
			<div class="create_btn">
				<a href="checkout.html">去购买</a>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="search">
		    <form>
		    	<input type="text" value="" placeholder="搜索..." />
				<input type="submit" value="" />
			</form>
		</div>
		<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
		<!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="index.html">首页</a></li>
			<li class="grid"><a class="color2" href="#">园林</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>建筑</h4>
								<ul>
									<li><a href="women.html">建筑1</a></li>
									<li><a href="women.html">建筑2</a></li>
									<li><a href="women.html">建筑3</a></li>
									<li><a href="women.html">建筑4</a></li>
									<li><a href="women.html">建筑4</a></li>
									<li><a href="women.html">建筑6</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>亭子</h4>
								<ul>
									<li><a href="women.html">亭子1</a></li>
									<li><a href="women.html">亭子2</a></li>
									<li><a href="women.html">亭子3</a></li>
									<li><a href="women.html">亭子4</a></li>
									<li><a href="women.html">亭子5</a></li>
									<li><a href="women.html">亭子6</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>护栏</h4>
								<ul>
									<li><a href="women.html">护栏1</a></li>
									<li><a href="women.html">护栏2</a></li>
									<li><a href="women.html">护栏3</a></li>
									<li><a href="women.html">护栏4</a></li>
									<li><a href="women.html">护栏5</a></li>
									<li><a href="women.html">护栏6</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>石碑</h4>
								<ul>
									<li><a href="register.html">纪念碑</a></li>
									<li><a href="women.html">纪念碑1</a></li>
									<li><a href="women.html">纪念碑2</a></li>
									<li><a href="women.html">纪念碑3</a></li>
									<li><a href="women.html">纪念碑4</a></li>
								</ul>
							</div>
						</div>

					</div>
    				</div>
				</li>
			<li><a class="color4" href="#">人物</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Clothing</h4>
								<ul>
									<li><a href="women.html">人物</a></li>
									<li><a href="women.html">人物1</a></li>
									<li><a href="women.html">人物2</a></li>
									<li><a href="women.html">人物3</a></li>
									<li><a href="women.html">人物4</a></li>
									<li><a href="women.html">人物5</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>kids</h4>
								<ul>
									<li><a href="women.html">Pools;Tees</a></li>
									<li><a href="women.html">shirts</a></li>
									<li><a href="women.html">shorts</a></li>
									<li><a href="women.html">twinsets</a></li>
									<li><a href="women.html">kurts</a></li>
									<li><a href="women.html">jackets</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Bags</h4>
								<ul>
									<li><a href="women.html">Handbag</a></li>
									<li><a href="women.html">Slingbags</a></li>
									<li><a href="women.html">Clutches</a></li>
									<li><a href="women.html">Totes</a></li>
									<li><a href="women.html">Wallets</a></li>
									<li><a href="women.html">Laptopbags</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>account</h4>
								<ul>
									<li><a href="#">login</a></li>
									<li><a href="register.html">create an account</a></li>
									<li><a href="women.html">create wishlist</a></li>
									<li><a href="women.html">my shopping bag</a></li>
									<li><a href="women.html">brands</a></li>
									<li><a href="women.html">create wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="women.html">Belts</a></li>
									<li><a href="women.html">Pens</a></li>
									<li><a href="women.html">Eyeglasses</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">Watches</a></li>
									<li><a href="women.html">Jewellery</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Footwear</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
					</div>
    				</div>
				</li>
				<li><a class="color5" href="#">古典</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Clothing</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">brands</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>kids</h4>
								<ul>
									<li><a href="women.html">Pools;Tees</a></li>
									<li><a href="women.html">shirts</a></li>
									<li><a href="women.html">shorts</a></li>
									<li><a href="women.html">twinsets</a></li>
									<li><a href="women.html">kurts</a></li>
									<li><a href="women.html">jackets</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Bags</h4>
								<ul>
									<li><a href="women.html">Handbag</a></li>
									<li><a href="women.html">Slingbags</a></li>
									<li><a href="women.html">Clutches</a></li>
									<li><a href="women.html">Totes</a></li>
									<li><a href="women.html">Wallets</a></li>
									<li><a href="women.html">Laptopbags</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>account</h4>
								<ul>
									<li><a href="#">登录</a></li>
									<li><a href="register.html">create an account</a></li>
									<li><a href="women.html">create wishlist</a></li>
									<li><a href="women.html">my shopping bag</a></li>
									<li><a href="women.html">brands</a></li>
									<li><a href="women.html">create wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="women.html">Belts</a></li>
									<li><a href="women.html">Pens</a></li>
									<li><a href="women.html">Eyeglasses</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">Watches</a></li>
									<li><a href="women.html">Jewellery</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Footwear</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
					</div>
    				</div>
				</li>
				<li><a class="color6" href="#">现代</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Clothing</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">brands</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>kids</h4>
								<ul>
									<li><a href="women.html">Pools;Tees</a></li>
									<li><a href="women.html">shirts</a></li>
									<li><a href="women.html">shorts</a></li>
									<li><a href="women.html">twinsets</a></li>
									<li><a href="women.html">kurts</a></li>
									<li><a href="women.html">jackets</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Bags</h4>
								<ul>
									<li><a href="women.html">Handbag</a></li>
									<li><a href="women.html">Slingbags</a></li>
									<li><a href="women.html">Clutches</a></li>
									<li><a href="women.html">Totes</a></li>
									<li><a href="women.html">Wallets</a></li>
									<li><a href="women.html">Laptopbags</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>account</h4>
								<ul>
									<li><a href="#">login</a></li>
									<li><a href="register.html">create an account</a></li>
									<li><a href="women.html">create wishlist</a></li>
									<li><a href="women.html">my shopping bag</a></li>
									<li><a href="women.html">brands</a></li>
									<li><a href="women.html">create wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="women.html">Belts</a></li>
									<li><a href="women.html">Pens</a></li>
									<li><a href="women.html">Eyeglasses</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">Watches</a></li>
									<li><a href="women.html">Jewellery</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Footwear</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
					</div>
    				</div>
				</li>

				<li><a class="color7" href="#">人文</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Clothing</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">brands</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>kids</h4>
								<ul>
									<li><a href="women.html">Pools;Tees</a></li>
									<li><a href="women.html">shirts</a></li>
									<li><a href="women.html">shorts</a></li>
									<li><a href="women.html">twinsets</a></li>
									<li><a href="women.html">kurts</a></li>
									<li><a href="women.html">jackets</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Bags</h4>
								<ul>
									<li><a href="women.html">Handbag</a></li>
									<li><a href="women.html">Slingbags</a></li>
									<li><a href="women.html">Clutches</a></li>
									<li><a href="women.html">Totes</a></li>
									<li><a href="women.html">Wallets</a></li>
									<li><a href="women.html">Laptopbags</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>account</h4>
								<ul>
									<li><a href="#">login</a></li>
									<li><a href="register.html">create an account</a></li>
									<li><a href="women.html">create wishlist</a></li>
									<li><a href="women.html">my shopping bag</a></li>
									<li><a href="women.html">brands</a></li>
									<li><a href="women.html">create wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="women.html">Belts</a></li>
									<li><a href="women.html">Pens</a></li>
									<li><a href="women.html">Eyeglasses</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">Watches</a></li>
									<li><a href="women.html">Jewellery</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Footwear</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
					</div>
    				</div>
				</li>

				<li><a class="color8" href="#">工艺</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Clothing</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">brands</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>kids</h4>
								<ul>
									<li><a href="women.html">trends</a></li>
									<li><a href="women.html">sale</a></li>
									<li><a href="women.html">style videos</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Bags</h4>
								<ul>
									<li><a href="women.html">trends</a></li>
									<li><a href="women.html">sale</a></li>
									<li><a href="women.html">style videos</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>account</h4>
								<ul>
									<li><a href="#">login</a></li>
									<li><a href="register.html">create an account</a></li>
									<li><a href="women.html">create wishlist</a></li>
									<li><a href="women.html">my shopping bag</a></li>
									<li><a href="women.html">brands</a></li>
									<li><a href="women.html">create wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="women.html">trends</a></li>
									<li><a href="women.html">sale</a></li>
									<li><a href="women.html">style videos</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Footwear</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
					</div>
    				</div>
				</li>
				<li><a class="color9" href="#">生活</a>
				<div class="megapanel">
					<div class="row">
						<div class="col1">
							<div class="h_nav">
								<h4>Clothing</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">brands</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>kids</h4>
								<ul>
									<li><a href="women.html">trends</a></li>
									<li><a href="women.html">sale</a></li>
									<li><a href="women.html">style videos</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Bags</h4>
								<ul>
									<li><a href="women.html">trends</a></li>
									<li><a href="women.html">sale</a></li>
									<li><a href="women.html">style videos</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>account</h4>
								<ul>
									<li><a href="#">login</a></li>
									<li><a href="register.html">create an account</a></li>
									<li><a href="women.html">create wishlist</a></li>
									<li><a href="women.html">my shopping bag</a></li>
									<li><a href="women.html">brands</a></li>
									<li><a href="women.html">create wishlist</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Accessories</h4>
								<ul>
									<li><a href="women.html">trends</a></li>
									<li><a href="women.html">sale</a></li>
									<li><a href="women.html">style videos</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
						<div class="col1">
							<div class="h_nav">
								<h4>Footwear</h4>
								<ul>
									<li><a href="women.html">园林</a></li>
									<li><a href="women.html">men</a></li>
									<li><a href="women.html">women</a></li>
									<li><a href="women.html">accessories</a></li>
									<li><a href="women.html">kids</a></li>
									<li><a href="women.html">style videos</a></li>
								</ul>
							</div>
						</div>
					</div>
    				</div>
				</li>
		 </ul>
	</div>
</div>
</div>
<div class="arriv">
	<div class="container">
		<div class="arriv-top">
			<div class="col-md-6 arriv-left">
				<img src="images/1.jpg" class="img-responsive" alt="" />
				<div class="arriv-info">
					<h3>园林</h3>
					<p>REVIVE YOUR WARDROBE WITH CHIC KNITS</p>
					<div class="crt-btn">
						<a href="details.html">TAKE A LOOK</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 arriv-right">
				<img src="images/2.jpg" class="img-responsive" alt="" />
				<div class="arriv-info">
					<h3>人物</h3>
					<p>REVIVE YOUR WARDROBE WITH CHIC KNITS</p>
					<div class="crt-btn">
						<a href="details.html">SHOP NOW</a>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="arriv-bottm">
			<div class="col-md-4 arriv-left2">
				<img src="images/shideng.jpg" class="img-responsive" alt="" />
				<div class="arriv-info1">
					<h3>古典</h3>
					<p>REVIVE YOUR WARDROBE WITH CHIC KNITS</p>
					<div class="crt-btn">
						<a href="details.html">SHOP NOW</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-middle">
				<img src="images/7.jpg" class="img-responsive" alt=""/>
				<div class="arriv-info3">
					<h3>FRESH LOOK T-SHIRT</h3>
					<div class="crt-btn">
						<a href="details.html">SHOP NOW</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-right2">
				<img src="images/shiqiao.jpg" class="img-responsive" alt="" />
				<div class="arriv-info2">
					<a href="details.html"><h3>Trekking Shoes<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="arriv-las">
			<div class="col-md-4 arriv-left2">
				<img src="images/5.jpg" class="img-responsive" alt=""/>
				<div class="arriv-info2">
					<a href="details.html"><h3>Casual Glasses<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="col-md-4 arriv-middle">
				<img src="images/7.jpg" class="img-responsive" alt=""/>
				<div class="arriv-info3">
					<h3>FRESH LOOK T-SHIRT</h3>
					<div class="crt-btn">
						<a href="details.html">SHOP NOW</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 arriv-right2">
				<img src="images/7.jpg" class="img-responsive" alt=""/>
				<div class="arriv-info2">
					<a href="details.html"><h3>Elegant Watches<i class="ars"></i></h3></a>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="special">
	<div class="container">
		<h3>精品推荐</h3>
		<div class="specia-top">
			<ul class="grid_2">
		<li>
				<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Lorem ipsum dolor</h5>
					<div class="item_add"><span class="item_price"><h6>ONLY $40.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
				</div>
		</li>
		<li>
				<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Consectetur adipis</h5>
					<div class="item_add"><span class="item_price"><h6>ONLY $60.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Commodo consequat</h5>
					<div class="item_add"><span class="item_price"><h6>ONLY $14.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
			</div>
		</li>
		<li>
				<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
				<div class="special-info grid_1 simpleCart_shelfItem">
					<h5>Voluptate velit</h5>
					<div class="item_add"><span class="item_price"><h6>ONLY $37.00</h6></span></div>
					<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
				</div>
		</li>
		<div class="clearfix"> </div>
	</ul>
		</div>
		<div class="specia-top">
			<ul class="grid_2">
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Lorem ipsum dolor</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $40.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Consectetur adipis</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $60.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Commodo consequat</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $14.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Voluptate velit</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $37.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>
		</div>
		<div class="specia-top">
			<ul class="grid_2">
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Lorem ipsum dolor</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $40.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Consectetur adipis</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $60.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Commodo consequat</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $14.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Voluptate velit</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $37.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>
		</div>
		<div class="specia-top">
			<ul class="grid_2">
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Lorem ipsum dolor</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $40.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Consectetur adipis</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $60.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Commodo consequat</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $14.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<li>
					<a href="details.html"><img src="images/1.jpg" class="img-responsive" alt="" /></a>
					<div class="special-info grid_1 simpleCart_shelfItem">
						<h5>Voluptate velit</h5>
						<div class="item_add"><span class="item_price"><h6>ONLY $37.00</h6></span></div>
						<div class="item_add"><span class="item_price"><a href="#">加入购物车</a></span></div>
					</div>
				</li>
				<div class="clearfix"> </div>
			</ul>
		</div>
	</div>
</div>
<div class="foot-top">
	<div class="container">
		<div class="col-md-6 s-c">
			<li>
				<div class="fooll">
					<h5>follow us on</h5>
				</div>
			</li>
			<li>
				<div class="social-ic">
					<ul>
						<li><a href="#"><i class="facebok"> </i></a></li>
						<li><a href="#"><i class="twiter"> </i></a></li>
						<li><a href="#"><i class="goog"> </i></a></li>
						<li><a href="#"><i class="be"> </i></a></li>
						<li><a href="#"><i class="pp"> </i></a></li>
							<div class="clearfix"></div>
					</ul>
				</div>
			</li>
				<div class="clearfix"> </div>
		</div>
		<div class="col-md-6 s-c">
			<div class="stay">
						<div class="stay-left">
							<form>
								<input type="text" placeholder="Enter your email to join our newsletter" required=""/>
							</form>
						</div>
						<div class="btn-1">
							<form>
								<input type="submit" value="join"/>
							</form>
						</div>
							<div class="clearfix"> </div>
			</div>
		</div>
			<div class="clearfix"> </div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="col-md-3 cust">
			<h4>客户服务</h4>
				<li><a href="#">客服中心</a></li>
				<li><a href="#">常见问题</a></li>
				<li><a href="buy.html">如何购买</a></li>
				<li><a href="#">快递跟踪</a></li>
		</div>

		<div class="col-md-2 myac">
			<h4>我的账户</h4>
				<li><a href="register.html">注册</a></li>
				<li><a href="#">我的购物车</a></li>
				<li><a href="#">历史订单</a></li>
				<li><a href="buy.html">支付</a></li>
		</div>
		<div class="col-md-5 our-st">
			<div class="clearfix"> </div>
				<li><i class="add"> </i>陕西西安华夏石材城</li>
				<li><i class="phone"> </i>025-2839341</li>
				<li><a href="mailto:info@example.com"><i class="mail"> </i>info@sitename.com </a></li>
			
			</div>
		<div class="clearfix"> </div>
	</div>
</div>
</body>
</html>